@import "reset.css";
@import "weather.css";

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;600&display=swap");

.hidden {
  display: none;
}

body {
  font-family: "Baloo Bhaijaan 2", cursive;
  color: whitesmoke;
  position: relative;
}

.bg-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#clock,
.main-info,
.todo-info,
#quote,
#weather {
  margin: 25px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

#clock {
  text-align: center;
  font-size: 100px;
  width: 350px;
  padding-bottom: 0px;
}

#greeting {
  font-size: 30px;
}

.login-form__id,
#todo-form input {
  width: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Baloo Bhaijaan 2", cursive;
  font-size: 20px;
  color: whitesmoke;
}

.login-form__id::placeholder,
#todo-form input::placeholder {
  color: whitesmoke;
}

.login-form__btn,
.logout-form__btn,
#todo-list button {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Baloo Bhaijaan 2", cursive;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 20px;
  color: whitesmoke;
}

#logout-form {
  position: absolute;
  top: 150px;
  right: 25px;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#todo-form input {
  width: 350px;
}

.todo-list-scroll {
  width: 350px;
  overflow: hidden;
}

#todo-list {
  overflow-y: scroll;
  width: 400px;
  height: 200px;
}

#todo-list li {
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#todo-list button {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

#todo-list button:last-child {
  margin-right: 40px;
}

#todo-list li div button:first-child {
  color: green;
}

.todo-check {
  text-decoration: line-through;
}
